{{define "title"}}log · {{.Repo.OwnerName}}/{{.Repo.Name}}{{end}}
{{define "content"}}
{{template "repoheader" .}}
<ul class="loglist">
{{range .Commits}}<li>
  <div class="commitmain">
    <p class="subject"><a href="/{{$.Repo.OwnerName}}/{{$.Repo.Name}}/commit/{{.SHA}}">{{.Subject}}</a></p>
    <p class="meta"><span title="{{.AuthorEmail}}">{{.AuthorName}}</span> · {{.Date}}</p>
  </div>
  <div class="commitside">
    {{template "sigbadge" .Sig}}
    <code><a href="/{{$.Repo.OwnerName}}/{{$.Repo.Name}}/commit/{{.SHA}}">{{.ShortSHA}}</a></code>
  </div>
</li>
{{else}}<li class="empty">no commits on {{.Ref}} yet</li>{{end}}
</ul>
{{if .NextSHA}}<p class="pager"><a href="/{{.Repo.OwnerName}}/{{.Repo.Name}}/log/{{.NextSHA}}">older →</a></p>{{end}}
{{end}}
